{% extends "layout.html" %}

{% block content %}
    <h1 class="mb-3">{{title}} ({{ items.total }})</h1>
    {% for item in items.items %}
        <article class="media content-section">
            <!--<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"> </img>-->
            <div class="media-body">
                <!--<div class="article-metadata">
                <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
                </div>-->
                <a class="article-metadata" href="{{ url_for('admin.edit_'+listOf, id=item.id }}">{{ item.name() }}</a>
            </div>
        </article>
    {% endfor %}
    {% for page_num in items.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)  %}
        {% if page_num %}
            {% if items.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('admin.'+listOf+'_list', page=page_num) }}">{{ page_num }} </a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('admin.'+listOf+'_list', page=page_num) }}">{{ page_num }} </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

    <div class = "content-section">
        <a class="btn btn-outline-info" href="{{ url_for('admin.new_'+listOf) }}">Crear nuevo {{listOf}}</a>
        <a class="btn btn-outline-info" href="{{ url_for('admin.admin_dashboard') }}">Admin menu</a>
    </div>
{% endblock content %}