{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action= "">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{legend}}</legend>
                <div class="form-group">
                    {{ form.estadisticaDe.label(class="form-control-label") }}
                    {% if form.estadisticaDe.errors %}
                        {{ form.estadisticaDe(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.estadisticaDe.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.estadisticaDe(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.fromDate.label(class="form-control-label") }}
                    {% if form.fromDate.errors %}
                        {{ form.fromDate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fromDate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fromDate(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.toDate.label(class="form-control-label") }}
                    {% if form.toDate.errors %}
                        {{ form.toDate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.toDate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.toDate(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        </form>
    </div>
{% endblock content %}