<div class="logo"></div>

<div class="wrapper">
	<h1>Quién está leyendo?</h1>
	{% for profile in profiles %}
		<div class="profile">
			<div class="profile-icon profile4"> <!-- Acá iría la imagen del perfil. Se podría acceder desde el css. -->
		
			</div>
			<div class="profile-name"> 
				{{ profile.name }}
			</div>
		</div>
	{% endfor %}
	{% if current_user.accountType == 'Normal'%}
		{% if cantProf < 2 %} 
			<div class='btn' href="#">
				<a href="#">Crear Perfil</a>
			</div>
		{% endif %}
	{% elif current_user.accountType == 'Premium'%}
		{% if cantProf < 4 %}
		<div>
			<a href="#">Crear Perfil</a>
		</div>
		{% endif %}
	{% endif %}

</div>
{% if cantProf > 0 %}
	</div>
		<a href="#" target="_blank">Gestionar perfiles</a>
	</div>
{% endif %}