{% extends "layout.html" %}
{% block content %}
        
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <!-- Autor -->
                {% if book.theAuthor != None%}
                    <p class="article-content">{{ book.theAuthor.full_name() }}</p>
                {% else %}
                    <p class="article-content">Anónimo</p>
                {% endif %}
            </div>
            <!-- Título -->
            <h2 class="article-title">{{ book.title }}</h2>
            
            <!-- Imagen -->
            {% if book.image_file != 'default.png' %}
                <img src="{{ url_for('static', filename='book_pics/' + book.image_file) }}">
                
            {% endif %}
            

            <!-- Editorial -->
            {% if book.thePublisher != None %}
                <p> Editorial: {{ book.thePublisher.full_name()}}</p>
            {% endif %}

            <!-- Género -->
            {% if book.theGenre != None %}
                <p> Género: {{ book.theGenre.full_name()}}</p>
            {% endif %}

            <!-- Lista de capítulos -->
            <div class="article-metadata">
                <h2>Capítulos:</h2>
            </div>
            
            {% for chapter in book.chapters %}
                <p><a href="{{ url_for('main.chapter', chapter_id=chapter.id)}}">{{ chapter.chapterNumber}} - {{ chapter.chapterTitle }}</a></p>
            {% endfor %}

            <p class="btn btn-outline-info" href="">Agregar a {{ book.theAuthor.full_name()}} a Favoritos</p>
            <p class="btn btn-outline-info" href="">Agregar género a Favoritos</p>
            <p class="btn btn-outline-info" href="">Agregar este libro a Favoritos</p>
    </article>
{% endblock content %}