<div class="logo"></div>

<div class="wrapper">
	<h1>Quién está leyendo?</h1>
	<div class="profile-wrap">
		{% for profile in profiles.items %}
			<div class="profile">
				<div class="profile-icon profile4"> <!-- Acá iría la imagen del perfil. Se podría acceder desde el css. -->
			
				</div>
				<div class="profile-name"> 
					{{ profile.name }}
				</div>
			</div>
		{% endfor %}
		{% if user.accountType == 'Normal'%}
			{% if profiles.items.lenght < 2 %} <!-- No sé si está bien todavía -->
				<div class='btn'>
					<!-- Botón de crear perfil -->
				</div>
			{% endif %}
		{% elif user.accountType == 'Premium'%}
			{% if profiles.items.lenght < 4 %}
			<div class='btn'>
				<!-- Botón de crear perfil -->
			</div>
			{% endif %}
		{% endif %}
	</div>

</div>
{% if profiles.items != None %}
	</div>
		<!-- <a href="{{ url_for('')}}" target="_blank">Gestionar perfiles</a> -->
	</div>
{% endif %}