<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profiles.css') }}">
</head>

<div class="logo"></div> <a  href="{{url_for('users.account')}}">Editar Perfil</a>

<body>
	<div class="wrapper">
		<h1 class="blurb">Quién está leyendo?</h1>
		{% for profile in profiles %}
			<div class="profile">
				<a class="profile-icon profile4" href="{{url_for('users.set_profile', id=profile.id)}}">
					<img src= "{{ url_for('static', filename= 'profile_pics/' + profile.image_file) }}"> </img>
				</a>
				<div class="profile-name"> 
					{{ profile.name }}
				</div>
			</div>
		{% endfor %}
		{% if current_user.accountType == 'Normal'%}
			{% if profiles|length < 2 %} 
				<div class='btn' href="#">
					<a href="{{url_for('users.register_profile')}}">Crear Perfil</a>
				</div>
			{% endif %}
		{% elif current_user.accountType == 'Premium'%}
			{% if profiles|length < 4 %}
			<div>
				<a href="{{url_for('users.register_profile')}}">Crear Perfil</a>
			</div>
			{% endif %}
		{% elif current_user.accountType == 'Admin'%}
			{% if profiles|length < 1 %}
			<div>
				<a href="{{url_for('users.register_profile')}}">Crear Perfil</a>
			</div>
			{% endif %}
		{% endif %}
	</div>
	{% if profiles|length > 0 %}
		</div>
			<a href="#" target="_blank" class="gestion">Gestionar perfiles</a> <a  href="{{url_for('users.logout')}}">cerrar sesion</a>

		</div>
	{% endif %}
</body>
