{% extends "layout.html" %}
{% block content %}
        
    <article>
        <div class="media-body">
            <div class="article-metadata">
                <p class="article-content">{{ book.title }}</p>
            </div>
            <h2 class="article-title">{{ chapter.full_name() }}</h2>

            <div>
                <embed src="{{ url_for('static', filename= 'chapter_pdfs/' + chapter.pdf_file) }}#toolbar=0" width="1000px" height="1050px"  alt="pdf"/>
            </div>
        </div>
    </article>
{% endblock content %}