{% extends "layout.html" %}
{% block content  %}
    <h3>Historial de libros</h3>
    <div class="content-section">
        <ul>
            {% for item in nav_history%}
                {% if item.entryType == 'Book' %}
                    <li><small class="text-muted">{{item.date_posted.strftime("%m/%d/%Y, %H:%M")}}</small><a href="{{ url_for('main.book', id=item.item_id)}}">{{item.entryName}}</a></li>
                {% endif %}
                {% if item.entryType == 'Chapter' %}
                    <li><small class="text-muted">{{item.date_posted.strftime("%m/%d/%Y, %H:%M")}}</small><a href="{{ url_for('main.chapter', chapter_id=item.item_id)}}">{{item.entryName}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}          