{% extends "layout.html"%}
{% block content %}
    {% for new in news.items %}
     <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">{{ new.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2><a class="article-title" href="{{url_for('main.news', news_id=new.id)}}">{{ new.title }}</a></h2>
          <p class="article-content">{{ new.content }}</p>
        </div>
     </article>
    {% endfor %} 
{% endblock content %}