{% extends "layout_misc.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="input-group form-group">
						{% if form.email.errors %}
								{{ form.email(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						{{ form.email(class="form-control", placeholder="Email") }}
						{% endif %}
				</div>
                <div class="input-group form-group">
						{% if form.password.errors %}
								{{ form.password(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.password.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						{{ form.password(class="form-control",  placeholder="Contraseña") }}
						{% endif %}
				</div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <small class="text-muted ml-2">
                    <a href="{{ url_for('users.reset_request') }}">Olvidaste tu contraseña?</a>
                </small>
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
           Necesitas una cuenta? <a class="ml-2" href="{{ url_for('users.register') }}">Crea una</a>
        </small>
    </div>
{% endblock content %}