{% extends "layout.html"%}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ news.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2 class="article-title">{{ news.title }}</h2>
            <p class="article-content">{{ news.content }}</p>
            {% if news.image_file != 'default.jpg' %}
                <img src="{{ url_for('static', filename='news_pics/' + news.image_file) }}">
            {% endif %}
            {% if news.book_id != 0%}
                <p class="article-content"><a href="{{ url_for('main.book', id=news.book_id)}}">Haga clic aquí para ver el libro.</a></p>
            {% endif %}
        </div>
    </article>
{% endblock content %}